**В данной папке существует файл с набором данных. Задача: взять эти данные представить таблицу (используя функции Pandos), предоставить  информацию графически (с помощью различных видов предоставления инормации**

1. Вывести данные в таблицу
2. Найти среднюю температуру за месяц (среднее арифметическое из столбца среднее значение), максимальную температуру за месяц, минимальную температуру за месяц.
3. Предоставить графики сравнения трех температур (максимальная, минимальная, средняя) за весь месяц 
4. Предоставить информацию о сравнении 3 температур (максимальная, минимальная, средняя) в виде столбчатой диаграммы за 1,5,10,15,20,25,30 числа месяца

In [2]:
import plotly as py
import pandas as pd
import numpy as np

import plotly.plotly as py
py.sign_in('Anastasia2102', 'z02xa2n4tg')

In [3]:
from pandas import *
table = read_csv('2005.csv',';')
sred = table["avtemperature"]
print(sred.mean())
maks = table["temperaturemax"]
print(maks.max())
mini = table["temperaturemin"]
print(mini.min())

-11.758064516129032
0.4
-19.1

In [4]:
from plotly.graph_objs import *
graf = table[["avtemperature", "temperaturemax", "temperaturemin"]]
py.iplot([{
                    'x': table.index,
                    'y': table[col],
                    'name': col
                }
         for col in graf.columns])

In [18]:
dat_0 = table[table["date"] == 1]
dat_1 = table[table["date"] == 5]
dat_2 = table[table["date"] == 10]
dat_3 = table[table["date"] == 15]
dat_4 = table[table["date"] == 20]
dat_5 = table[table["date"] == 25]
dat_6 = table[table["date"] == 30]
dat = concat([dat_0, dat_1, dat_2, dat_3, dat_4, dat_5, dat_6])
py.iplot({
        
        'data' : [
            Bar(**{
                    'x':list(dat["date"]),
                    'y':list(dat["temperaturemax"]),
                    'name': 'temperaturemax',
                    'type': 'bar'
                }),
            Bar(**{
                    'x':list(dat["date"]),
                    'y':list(dat["avtemperature"]),
                    'name': 'avtemperature',
                    'type': 'bar'
                }),
            Bar(**{
                    'x':list(dat["date"]),
                    'y':list(dat["temperaturemin"]),
                    'name': 'temperaturemin',
                    'type': 'bar'
                })
        ], 'layout': Layout(**{
                'title': 'data'
            })
    })

In [36]:
dat.head()

    year  mounth  date  temperaturemin  avtemperature  temperaturemax
0   2005       1     1           -18.9          -15.7           -11.4
4   2005       1     5           -17.5          -14.5            -9.8
9   2005       1    10           -18.8          -15.7           -13.1
14  2005       1    15           -12.7          -11.3            -8.1
19  2005       1    20           -14.5          -12.4           -10.6

In [17]:
dat["temperaturemax"]

0    -11.4
4     -9.8
9    -13.1
14    -8.1
19   -10.6
24    -9.2
29   -11.6
Name: temperaturemax, dtype: float64

In [15]:
list(dat["date"])

[1, 5, 10, 15, 20, 25, 30]

In [27]:
py.iplot({
        
        'data' : [
            Bar(**{
                    'x':list(dat["date"]),
                    'y':list(dat["temperaturemax"]),
                    'name': 'temperaturemax',
                    
            })]
            })

In [7]:

import plotly.graph_objs as go
hist = read_csv('data.csv', ';')

trace1 = go.Area(
    r=[hist["windspeed"]],
    t=[hist["winddir"]],
    name='m/s',
    marker=dict(
        color='rgb(106,81,163)'
    )
)
py.iplot({ 'data' : [trace1],
'layout': go.Layout(
    title='Wind Speed Distribution in Laurel, NE',
    font=dict(
        size=16
    ),
    legend=dict(
        font=dict(
            size=16
        )
    ),
    radialaxis=dict(
        ticksuffix='%'
    ),
    orientation=270
)
})

In [9]:
py.iplot([{
                    'x': dat.index,
                    'y': dat["temperaturemax"],
                    'name': 'temperaturemax'
                }])

In [45]:
import numpy as np
x = [1,2,4,5,6]
data = [
    go.Histogram(
        x=x
    )
]
py.iplot({data, filename='basic-histogram')

In [46]:
data = [
    go.Bar(
        x=[20, 14, 23],
        y=['giraffes', 'orangutans', 'monkeys'],
        orientation = 'h',
        marker = dict(
        color = 'rgba(55, 128, 191, 0.6)'
    ))
]
py.iplot(data)

In [47]:
fig = {
    'data': [{'labels': ['Residential', 'Non-Residential', 'Utility'],
              'values': [19, 26, 55],
              'type': 'pie'}],
    'layout': {'title': 'Forcasted 2014 U.S. PV Installations by Market Segment'}
}
py.iplot(fig)