**В данной папке существует файл с набором данных. Задача: взять эти данные представить таблицу (используя функции Pandos), предоставить  информацию графически (с помощью различных видов предоставления инормации**

1. Вывести данные в таблицу
2. Найти среднюю температуру за месяц (среднее арифметическое из столбца среднее значение), максимальную температуру за месяц, минимальную температуру за месяц.
3. Предоставить графики сравнения трех температур (максимальная, минимальная, средняя) за весь месяц 
4. Предоставить информацию о сравнении 3 температур (максимальная, минимальная, средняя) в виде столбчатой диаграммы за 1,5,10,15,20,25,30 числа месяца

In [64]:
import plotly as py
import pandas as pd
import numpy as np

import plotly.plotly as py
py.sign_in('Anastasia2102', 'z02xa2n4tg')

In [65]:
from pandas import *
table = read_csv('2005.csv',';')
sred = table["avtemperature"]
print(sred.mean())
maks = table["temperaturemax"]
print(maks.max())
mini = table["temperaturemin"]
print(mini.min())

-11.758064516129032
0.4
-19.1

In [66]:
from plotly.graph_objs import *
graf = table[["avtemperature", "temperaturemax", "temperaturemin"]]
py.iplot([{
                    'x': table.index,
                    'y': table[col],
                    'name': col
                }
         for col in graf.columns])

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~Anastasia2102/0 or inside your plot.ly account where it is named 'plot from API'

In [67]:
dat_0 = table[table["date"] == 1]
dat_1 = table[table["date"] == 5]
dat_2 = table[table["date"] == 10]
dat_3 = table[table["date"] == 15]
dat_4 = table[table["date"] == 20]
dat_5 = table[table["date"] == 25]
dat_6 = table[table["date"] == 30]
dat = concat([dat_0, dat_1, dat_2, dat_3, dat_4, dat_5, dat_6])
py.iplot({
        
        'data' : [
            Bar(**{
                    'x':[dat["date"]],
                    'y':[dat["temperaturemax"]],
                    'name': 'temperaturemax',
                    'type': 'bar'
                }),
            Bar(**{
                    'x':[dat["date"]],
                    'y':[dat["avtemperature"]],
                    'name': 'avtemperature',
                    'type': 'bar'
                }),
            Bar(**{
                    'x':[dat["date"]],
                    'y':[dat["temperaturemin"]],
                    'name': 'temperaturemin',
                    'type': 'bar'
                })
        ], 'layout': Layout(**{
                'title': 'data'
            })
    })

In [36]:
dat.head()

    year  mounth  date  temperaturemin  avtemperature  temperaturemax
0   2005       1     1           -18.9          -15.7           -11.4
4   2005       1     5           -17.5          -14.5            -9.8
9   2005       1    10           -18.8          -15.7           -13.1
14  2005       1    15           -12.7          -11.3            -8.1
19  2005       1    20           -14.5          -12.4           -10.6

In [68]:
py.iplot({
        
        'data' : [
            Bar(**{
                    'x':[dat["date"]],
                    'y':[dat["temperaturemax"]],
                    'name': 'temperaturemax',
                    'type': 'bar'
                })
            ], 'layout': Layout(**{
                'title': 'data'
            })
    })

In [69]:

import plotly.graph_objs as go
hist = read_csv('data.csv', ';')

trace1 = go.Area(
    r=[hist["windspeed"]],
    t=[hist["winddir"]],
    name='m/s',
    marker=dict(
        color='rgb(106,81,163)'
    )
)
py.iplot({ 'data' : [trace1],
'layout': go.Layout(
    title='Wind Speed Distribution in Laurel, NE',
    font=dict(
        size=16
    ),
    legend=dict(
        font=dict(
            size=16
        )
    ),
    radialaxis=dict(
        ticksuffix='%'
    ),
    orientation=270
)
})

In [87]:
x = [1, 2, 5, 9, 7]

data = [
    go.Histogram(
        x=x
    )
]
py.iplot(data, filename='basic-histogram')