In [34]:
import pandas as pd

In [48]:
df = pd.read_csv('a.csv')
df.head()

   Temperature  Light  Wind  Pressure  Voltage  Team                    Date
0          8.0     47   1.3      1021      6.8     0   Thu 24.03.2016 14:29
1          8.5     49   0.5      1022      6.9     0   Thu 24.03.2016 14:27
2          9.0     56   0.7      1022      6.9     0   Thu 24.03.2016 14:25
3          9.5     50   0.2      1021      7.0     0   Thu 24.03.2016 14:23
4         10.0     43   0.6      1021      7.0     0   Thu 24.03.2016 14:21

In [49]:
df.columns

Index(['Temperature', 'Light', 'Wind', 'Pressure', 'Voltage', 'Team', 'Date'], dtype='object')

In [50]:
df['Date'] =pd.to_datetime(df.Date)
df.sort_values(by='Date', ascending=False) # This now sorts in date order

    Temperature  Light  Wind  Pressure  Voltage  Team                Date
0           8.0     47   1.3      1021      6.8     0 2016-03-24 14:29:00
1           8.5     49   0.5      1022      6.9     0 2016-03-24 14:27:00
2           9.0     56   0.7      1022      6.9     0 2016-03-24 14:25:00
3           9.5     50   0.2      1021      7.0     0 2016-03-24 14:23:00
4          10.0     43   0.6      1021      7.0     0 2016-03-24 14:21:00
5          10.0     25   1.1      1020      7.1     0 2016-03-24 14:19:00
6           9.5     46   0.4      1022      7.1     0 2016-03-24 14:16:00
7          10.0     48   0.2      1021      7.1     0 2016-03-24 14:14:00
8          10.0     48   1.0      1021      7.2     0 2016-03-24 14:12:00
9          12.0     45   0.3      1021      7.2     0 2016-03-24 14:10:00
10         11.0     22   0.4      1020      7.2     0 2016-03-24 14:08:00
11         11.0     22   0.5      1020      7.2     0 2016-03-24 14:06:00
12          9.5     23   0.2      1021      7.2     0 2016-03-24 14:04:00
13          9.0     24   2.6      1021      7.2     0 2016-03-24 14:02:00
14          8.0     45   0.7      1022      7.2     0 2016-03-24 13:59:00
15          9.0     49   0.7      1022      7.3     0 2016-03-24 13:57:00
16          9.0     40   0.6      1022      7.3     0 2016-03-24 13:55:00
17          9.5     42   1.2      1022      7.3     0 2016-03-24 13:53:00
18         10.0     23   0.6      1021      7.3     0 2016-03-24 13:51:00
19         13.0     53   1.4      1021      7.7     0 2016-03-24 12:37:00
20         16.0     44   0.5      1021      7.7     0 2016-03-24 12:35:00
21         17.0     22   1.0      1020      7.6     0 2016-03-24 12:33:00
22         20.0     23   0.7      1020      7.7     0 2016-03-24 12:31:00
23         20.0    600   0.0      1021      7.7     0 2016-03-24 12:27:00
24         19.0    640   0.0      1021      7.8     0 2016-03-24 12:24:00
25         19.0    520   2.6      1020      7.2     0 2016-03-24 12:12:00
26         19.0    530   0.0      1021      7.2     0 2016-03-24 12:10:00
27         19.0    542   0.0      1020      7.2     0 2016-03-24 12:07:00
28         20.0    522   0.0      1020      7.2     0 2016-03-24 12:05:00
29         19.0    591   0.0      1020      7.2     0 2016-03-24 12:03:00
30         20.0    585   0.0      1020      7.2     0 2016-03-24 12:01:00
31         19.0    577   0.0      1020      7.2     0 2016-03-24 12:00:00
32         20.0    514   0.0      1020      7.2     0 2016-03-24 11:55:00
33         20.0    564   0.0      1021      7.2     0 2016-03-24 11:55:00
34         20.0    564   0.0      1021      7.2     0 2016-03-24 11:53:00
35         20.0    442   0.0      1020      6.0     0 2016-03-24 11:14:00
36         21.0    417  30.0      1020      6.0     0 2016-03-24 11:07:00
37         20.0    407   0.0      1020      6.0     0 2016-03-24 11:03:00
38         20.0    396   0.0      1020      8.0     0 2016-03-24 11:01:00
39         21.0    389  12.0      1020      8.0     0 2016-03-24 11:00:00
40         21.0    390   0.0      1021      8.0     0 2016-03-24 10:58:00
41         21.0    376   0.0      1020      8.0     0 2016-03-24 10:57:00
42         21.0    538   0.0      1020      8.0     0 2016-03-24 10:55:00
43         21.0    535   0.0      1021      8.0     0 2016-03-24 10:53:00
44         21.0    360   0.0      1020      6.0     0 2016-03-24 10:45:00
45         20.0    586   0.0      1020      6.0     0 2016-03-24 10:44:00
46         21.0    565   0.0      1020      6.0     0 2016-03-24 10:42:00
47         20.0    350   0.0      1021      6.0     0 2016-03-24 10:41:00

In [4]:
import random
l = []
for i in range(100):
    l.append({
        "temp": random.random(),
         "voltage"
    })
l[0]['temp']

0.23997858573950648