In [1]:
import plotly as py
import pandas as pd
import numpy as np

import plotly.plotly as py
py.sign_in('Anastasia2102', 'z02xa2n4tg')

from plotly.graph_objs import *

In [2]:
import pandas 
from pandas import *
table = read_csv('a.csv', ',')
a = [3]
l = a * len(table)
py.iplot([{
            'x': table.index,
            'y': table['Voltage'],
            'name': 'voltage'
        },
         {
            'x': table.index,
            'y': l,
            'name': 'voltage_off'
        }])

In [3]:
table.head()

   Temperature  Light  Wind  Pressure  Voltage  Team                    Date
0          8.0     47   1.3      1021      6.8     0   Thu 24.03.2016 14:29
1          8.5     49   0.5      1022      6.9     0   Thu 24.03.2016 14:27
2          9.0     56   0.7      1022      6.9     0   Thu 24.03.2016 14:25
3          9.5     50   0.2      1021      7.0     0   Thu 24.03.2016 14:23
4         10.0     43   0.6      1021      7.0     0   Thu 24.03.2016 14:21