![Pandas](pandas_logo.PNG)

Что такое структура данных?

Series – это проиндексированный(пронумерованный) массив значений.

DataFrame — это проиндексированный(пронумерованный) многомерный массив значений, соответственно каждый столбец DataFrame, является структурой Series.

In [85]:
import warnings
warnings.filterwarnings("ignore")
#
import pandas
from pandas import *

table = read_csv("meteo.csv",";") #считываем из файла данные
table.head() #вывод первых строк считанной таблицы

   temperature  pressure  humidity  windspeed winddir
0            0      1019        80          8      NE
1            3      1016        64          5       W
2           14      1004        68          8      SW
3           13      1008        99          4      SE
4           -1      1024        66          4      NW

In [51]:
table[0:2] #Вывод двух строк начиная с нулевой

   temperature  pressure  humidity  windspeed winddir
0            0      1019        80          8      NE
1            3      1016        64          5       W

In [54]:
print("Длина:", len(table))
print("(Кол-во строк, Кол-во столбцов):", table.shape)

Длина: 19
(Кол-во строк, Кол-во столбцов): (19, 5)

In [72]:
print(table.iloc[1]) #вывод второй строки

temperature       3
pressure       1016
humidity         64
windspeed         5
winddir           W
Name: 1, dtype: object

In [58]:
table["pressure"] # получаем столбец pressure

0     1019
1     1016
2     1004
3     1008
4     1024
5     1011
6     1000
7     1003
8     1007
9     1021
10    1012
11    1020
12    1018
13    1007
14    1023
15    1001
16    1011
17    1005
18    1009
Name: pressure, dtype: int64

In [66]:
table[["pressure","temperature"]][1:10] #так же можем получить несколько столбцов и вывести определенное кол-во строк

   pressure  temperature
1      1016            3
2      1004           14
3      1008           13
4      1024           -1
5      1011            7
6      1000            1
7      1003           10
8      1007            1
9      1021           -1

In [86]:
#переменная = таблица[условие1][условие2]
temp_0 = table[table["temperature"]==0][table["pressure"]==1019] #выбираем только те строки в которых значение температуры равно 0 и значение давления равно 1019

h_1 = table[table["humidity"]>=65] #по аналогии, что происходит здесь? (humidity - влажность)

temp_0

   temperature  pressure  humidity  windspeed winddir
0            0      1019        80          8      NE

**Задание**

* Считать данные из файла data.csv (используя пример выше)


* Вывести 4 строки начиная с 8-ой


* Вывести только те строки которые удовлетворяет следующим условиям:

    а) Значение температуры от -2 до 7
    
    б) Значение влажности от 80

In [ ]:
#Решение первой задачи

In [ ]:
#Решение второй задачи

In [ ]:
#Решение третей задачи