![Pandas](pandas_logo.PNG)

Что такое структура данных?

Series – это проиндексированный(пронумерованный) массив значений.

DataFrame — это проиндексированный(пронумерованный) многомерный массив значений, соответственно каждый столбец DataFrame, является структурой Series.

In [22]:
import warnings
warnings.filterwarnings("ignore")
#
#import pandas
from pandas import *

table = read_csv("meteo.csv",";") #считываем из файла данные
table.head() #вывод первых строк считанной таблицы

   temperature  pressure  humidity  windspeed winddir
0            0      1019        80          8      NE
1            3      1016        64          5       W
2           14      1004        68          8      SW
3           13      1008        99          4      SE
4           -1      1024        66          4      NW

In [13]:
table[3:20] #Вывод двух строк начиная с нулевой

    temperature  pressure  humidity  windspeed winddir
3            13      1008        99          4      SE
4            -1      1024        66          4      NW
5             7      1011        64          5      NE
6             1      1000        67          4       N
7            10      1003        93          7     ESE
8             1      1007        82         10     WNW
9            -1      1021        93          3       W
10            0      1012        91          4      SW
11            5      1020        71          7       S
12           12      1018        82          7     ESE
13           15      1007        53          4     ENE
14            7      1023        63          2       N
15           12      1001        51          8      NE
16            8      1011        52          6     ENE
17            2      1005        95          5       E
18           11      1009        70          5     SSE

In [19]:
print("Длина:", len(table))
print("(Кол-во строк, Кол-во столбцов):", table.shape)

Длина: 19
(Кол-во строк, Кол-во столбцов): 5

In [20]:
print(table.iloc[1]) #вывод второй строки

temperature       3
pressure       1016
humidity         64
windspeed         5
winddir           W
Name: 1, dtype: object

In [58]:
table["pressure"] # получаем столбец pressure

0     1019
1     1016
2     1004
3     1008
4     1024
5     1011
6     1000
7     1003
8     1007
9     1021
10    1012
11    1020
12    1018
13    1007
14    1023
15    1001
16    1011
17    1005
18    1009
Name: pressure, dtype: int64

In [37]:
table[ ["pressure", "temperature"] ][1:10].tail()

   pressure  temperature
5      1011            7
6      1000            1
7      1003           10
8      1007            1
9      1021           -1

In [35]:
#переменная = таблица[условие1][условие2].команда()[1:10]
temp_0 = table[  table ["temperature"] ==0  ]     [table["pressure"]==1019] #выбираем только те строки в которых значение температуры равно 0
#temp_1 = temp_0[table["pressure"]==1019] #и значение давления равно 1019




temp_0

    temperature  pressure  humidity  windspeed winddir
0             0      1019        80          8      NE
10            0      1012        91          4      SW

**Задание**

* Считать данные из файла data.csv (используя пример выше) вывести  первые 9 строк


* Вывести 4 строки начиная с 8-ой


* Вывести только те строки которые удовлетворяет следующим условиям:

    а) Значение температуры от -2 до 7
    
    б) Значение влажности от 80
    
/* Посчитать максимальный разброс температур

/* При какой температуре влажность минимальна?

In [56]:
#Решение первой задачи
table.sort("temperature")
#table["temperature"].max()

    temperature  pressure  humidity  windspeed winddir
9            -1      1021        93          3       W
4            -1      1024        66          4      NW
10            0      1012        91          4      SW
0             0      1019        80          8      NE
6             1      1000        67          4       N
8             1      1007        82         10     WNW
17            2      1005        95          5       E
1             3      1016        64          5       W
11            5      1020        71          7       S
5             7      1011        64          5      NE
14            7      1023        63          2       N
16            8      1011        52          6     ENE
7            10      1003        93          7     ESE
18           11      1009        70          5     SSE
12           12      1018        82          7     ESE
15           12      1001        51          8      NE
3            13      1008        99          4      SE
2            14      1004        68          8      SW
13           15      1007        53          4     ENE

In [ ]:
#Решение второй задачи

In [ ]:
#Решение третей задачи